[credential]
	helper = osxkeychain
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    create = !git init && echo ".DS_Store" > .gitignore
[user]
	email = torvarun@gmail.com
	name = torvarun
